* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1258px;
    width: 100%;
    margin: 0 auto;
}

.parent {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(calc(629px - 3rem), 1fr));
    gap: 2rem;
    margin: 3rem 1rem;
    width: 100%;
}

.child {
    background-color: #fff;
    border-radius: 1rem;
    padding: 4rem;
}

.child > p {
    text-align: justify;
}

.resume-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    height: 100%;
    width: 75%;
    top: 0;
    background-color: #f6f7ff;
    z-index: -1;
    border-radius: 1rem;
}

.designation {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    align-items: center;
}
.social-media > svg:first-child {
    border-radius: 0.5rem;
}

.social-media h3 {
    padding: 0 1rem;
}

@media screen and (max-width: 620px) {
    .parent {
        grid-template-columns: 1fr;
    }
}