form {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(auto-fit, minmax(613px, 1fr));
    gap: 16px;
}


/* max-width is desktop first */
/* min-width is mobile first */
@media screen and (min-width: 640px) {
    .wrapper {
        background-color: green;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        background-color: orange;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        background-color: gold;
    }
}

@media screen and (min-width: 1258px) {
    form > div:nth-child(5) {
        grid-column: 2 span;
    }
}

/* 
1. Mobile first Approach
2. Desktop First Approach

*/





